<p style="color: green"><%= notice %></p>

<h1>Articles</h1>


<table>

  <thead>
    <tr>
      <th>Title</th>
      <th>Post</th>
            <th>User</th>

    </tr>
  </thead>


<tbody>
  <% @articles.each do |article| %>

<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td> <%= article.title %> </td>
<td> <%= article.post %> </td>
<td> <%= article.usr_id %> </td>
<td> <%= link_to "Show", article %></td>
<td><%= link_to "New", new_article_path %></td>
</tr>
  
  
   <% end %>
</tbody>

</table>

